@import 'variables';

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: "Open Sans", Arial, sans-sarif;
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: #000000;
    background-color: #000000;
}

.container {
    width: 320px;
    margin: 0 auto;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    
    border: 3px solid #444444;
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: $text-color;
    background-color: #ffffff;

        &:hover,
        &:focus {
            background-color: $btn-background-color;
            color: rgb(255, 255, 255);
            transition: all 0.5s;
        }
        &:active  {
            background-color: $btn-background-color;
            color: rgba(255, 255, 255, 0.3);
            transition: all 0.5s;
        }
}






