 @import 'variables';

.main-nav {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) { 
        flex-direction: row;
    }
}

.main-nav--left {

    @media (min-width: $desktop-width) { 
      order: 3;  
    }
}

.main-nav--right {

    @media (min-width: $desktop-width) { 
      order: 1;  
    }
}

.main-nav--open {
    display: flex;
}

.main-nav--closed {
    display: none;

        @media (min-width: $tablet-width) { 
            display: flex;
        }

}

.main-nav__toggle {
    position: absolute;
    top: 35px;
    right: 30px;

    @media (min-width: $tablet-width) {
        display: none;   
    }
}

.main-nav__icon--close {
    display: block;
    width: 20px;
    height: 2px;
    background-color: $body-color;  

        &::after,
        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $body-color; 
        }

        &::before {
            transform: translate(0, -5px);
        }

        &::after {
            transform: translate(0, 3px);
        }
}

.main-nav__icon--open {
    display: block;
    width: 20px;
    height: 2px;
    background-color: $body-color;
    transform: rotate(45deg); 

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $body-color; 
            transform: rotate(90deg);
        }

}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-list { 

    @media (min-width: $tablet-width) {
        display: none;
    } 

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        width: 466px;
        margin-left: auto;
        align-items: center;
        margin-right: 30px;
    }
}

.site-list__item {

    @media (min-width: $desktop-width) {
        width: 233px;
    }
}

.site-list__item--desktop {

    @media (min-width: $desktop-width) {
        border-right: $grey-border;
    }
}

.user-list {

    @media (min-width: $tablet-width) {
        display: flex;
        width: 350px;
        margin-left: auto;
        align-items: center;
    }

    @media (min-width: $desktop-width){
        align-items: center;
        margin-left: auto;
        width: 400px;
    }
}

.user-list__item--search {

    @media (min-width: $tablet-width) {
         width: 85px;
    }
}

.user-list__item--backet {

     @media (min-width: $tablet-width) {
        width: 265px;
    }

    @media (min-width: $desktop-width){ 
        width: 315px;
    }
}

.site-list__link,
.user-list__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    border-bottom: $grey-border;
    font-size: 17px;
    line-height: 30px;
    color: $body-color;
    font-weight: 700;

        // &:hover,
        // &:focus {
        //     color: rgba(0, 0, 0, 0.6);
        // }

        // &:active {
        //     color: rgba(0, 0, 0, 0.3);
        // }

    @media (min-width: $tablet-width) {
        border-bottom: none;
    }

    @media (min-width: $desktop-width) {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.site-list__link[href],
.user-list__link[href] {
       &:hover,
        &:focus {
            color: rgba(0, 0, 0, 0.6);
        }

        &:active {
            color: rgba(0, 0, 0, 0.3);
        }
}

.site-list__link {

     @media (min-width: $desktop-width) {
        padding-left: 50px;
    }
}

.user-list__link--search {
    position: relative;

    @media (min-width: $tablet-width) {
        display: block;
        padding-left: 0;
        box-sizing: border-box;
        font-size: 0;
        
        border-left: $grey-border;
        border-right: $grey-border;
    }
}

.user-list__search {
    position: absolute;
    top: 35px;
    left: 15px;

    @media (min-width: $tablet-width) {
        top: 37px;
        left: 33px;
    }

    @media (min-width: $desktop-width) {
        top: 41px;
        left: 33px;
    }
}

.user-list__link--backet {
    position: relative;

     @media (min-width: $tablet-width) {
        padding-left: 75px;
    }
}

.user-list__basket {
    position: absolute;
    top: 32px;
    left: 15px;

    @media (min-width: $tablet-width) {
        top: 32px;
        left: 28px;
    }

    @media (min-width: $desktop-width) {
        top: 37px;
        left: 28px;
    }
}

