@import 'variables';

.page-footer__wrapper{
    padding-bottom: 30px;
    background-color: #f1f1f1;
}

.page-footer__logo{
    visibility: hidden;
}

.social__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__copyright {
    width: 260px;
    border-top: $grey-border;
}

.copyright__text {
    margin: 0;
    padding: 0;
    padding-top: 30px;

    font-size: 19px;
    font-weight: 700;
    

        &:active {
            color: rgba(0, 0, 0, 0.3);
        }
}