@import 'variables';

.page-header__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;

    @media (min-width: $tablet-width) { 
        box-sizing: border-box; 
        flex-direction: row;
        min-height: 90px;
        padding-right: 50px;
        padding-left: 50px;
        border-bottom: $grey-border;
    }

    @media (min-width: $desktop-width) {
        position: relative;
        
    }
}

.page-header__logo {
    display: flex;
    justify-content: center;
    box-sizing: border-box;   
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: $grey-border;

    @media (min-width: $tablet-width) {
        display: block; 
        width: 320px;
        padding-left: 0;
        border-bottom: none;   
    }

    @media (min-width: $desktop-width) {
        position: absolute;
        
    }
}

.page-header__logo-image {
    width: 86px;
    height: 35px;

    @media (min-width: $tablet-width) {  
        display: none; 
    }
}

.page-header__logo-image--tablet {
    display: none;

    @media (min-width: $tablet-width) {  
        display: block;
        width: 113px;
        height: 46px;
    }

    @media (min-width: $desktop-width) {  
        display: none;
    }
}

.page-header__logo-image--desktop {
    display: none;
 
    @media (min-width: $desktop-width) {  
        display: block;
        width: 149px;
        height: 72px;
    }

}
    
