$body-font-size: 15px;
$title-font-size: 25px;
$title-line-height: 30px;
$body-line-height: 20px;
$body-color: #000000;
$text-color: #444444;
$btn-background-color: #444444;
$grey-border: 2px solid #ececec;
$green-color: #63d1bb;
$dark-green-color: #46c1ae;
$light-green-color: #d2f2eb;
$tablet-width: 768px;
$desktop-width: 1200px;
$title-tab-font-size: 43px;
$title-tab-line-height: 50px;
$title-desk-font-size: 53px;
$title-desk-line-height: 57px;
$catalog-border: 1px solid #ededed; 
$form-color: #f1f1f1;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;