$body-font-size: 15px;
$title-font-size: 25px;
$title-line-height: 30px;
$body-line-height: 20px;
$body-color: #000000;
$text-color: #444444;
$btn-background-color: #444444;
$grey-border: 2px solid #ececec;
$green-color: #63d1bb;
$dark-green-color: #46c1ae;
