$body-font-size: 15px;
$title-font-size: 25px;
$title-line-height: 30px;
$body-line-height: 20px;
$body-color: #000000;
$text-color: #444444;
$btn-background-color: #444444;
$border-bottom: 2px solid #ececec;