@import '../variables';

.filter {
    width: 100%;
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 55px;

    @media (min-width: $tablet-width) { 
        padding-top: 70px;  
    }

    @media (min-width: $desktop-width) {
        padding-top: 120px;
    }
}

.filter__form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter__description {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    

    @media (min-width: $tablet-width) {
        width: 668px;
        padding-right: 50px;
        padding-left: 50px;
        margin-bottom: 10px;     
    }

    @media (min-width: $desktop-width) {
        width: 700px;
        padding-right: 225px;
        padding-left: 225px; 
    }
}

.filter__container--grey {
    @media (min-width: $tablet-width) {
        background-color: $form-color;
    }
}

.filter__wrapper {
    width: 260px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        width: 668px;
        padding-top: 50px;
        padding-right: 50px;
        padding-left: 50px; 
        padding-bottom: 50px;     
    }

    @media (min-width: $desktop-width) {
        width: 950px;
        padding-right: 100px;
        padding-left: 100px;     
    }
}

.filter__wrapper--bottom {
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: $desktop-width) {
        width: 700px;
        padding-right: 225px;
        padding-left: 225px;     
    }
}

.filter__title {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    font-size: 17px;
    color: $green-color;
    text-transform: uppercase;
    font-weight: 700;

    @media (min-width: $tablet-width) {
        width: 168px;
        padding-top: 15px;
        margin-bottom: 0;  
    }

    @media (min-width: $desktop-width) {
        width: 125px;
        padding-left: 15px;
    }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 1px;
            width: 200px;
            height: 1px;
            background-color: $green-color;

            @media (min-width: $tablet-width) {
                position: relative;
            }
        }
}

.filter__title--small {
    margin-bottom: 15px;
}


.filter__title--email { 

        &::before {
            width: 175px;
        }
}

.filter__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
   
    list-style: none;


    @media (min-width: $tablet-width) {
        width: 500px;    
    }

    @media (min-width: $desktop-width) {
        width: 700px;
    }
}

.filter__list--color {

    @media (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: 240px 240px;
        column-gap: 20px;
        row-gap: 25px;
        // flex-direction: row;
        // flex-wrap: wrap; 
    }

    @media (min-width: $desktop-width) {
         width: 825px;
         grid-template-columns: 260px 260px 260px;
    }
}

.filter__list--contact {
    @media (min-width: $tablet-width) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 668px;
    }

    @media (min-width: $desktop-width) {
        width: 825px;
    }
}

.filter__item {

    width: 260px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 65px;

    @media (min-width: $tablet-width) {
        width: 500px;
        margin-bottom: 25px;
    }
}

.filter__item--type:last-child {
    margin-bottom: 0;
}

.filter__item--color {
    @media (min-width: $tablet-width) {
        margin-bottom: 0;
        width: 240px;
        // margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
         width: 265px;
    }        
}

.filter__item label,
.filter__option label {

    font-size: 17px;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
        font-size: 19px;
        
    }
}

.filter__item--type input[type="radio"] ~ label {
    display:inline-flex;
    align-items:center;
    user-select: none;



        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border: 2px solid $body-color;
            border-radius: 50%;                   
        }

        &::after {
            content: "";
            position: absolute;
        }
} 

.filter__item--type input[type="radio"]:hover ~ label::before,
.filter__item--type input[type="radio"]:focus ~ label::before {
     border-color: $green-color;
     transition: all 0.3s;
}

.filter__item--type input[type="radio"]:checked ~ label::before {
    // background-image: url('../img/shape.png');

    // background-repeat: no-repeat;
    // background-position: 50%;

    border-color:  #c7c7c7;
    transition: border-color 0.3s;
    box-shadow:0 0 5px 0px rgba(199, 199, 199, 0.5);
}

.filter__item--type input[type="radio"]:checked ~ label::after {
            top: 13px;
            left: 12px;
            width: 20px;
            height: 20px;
            background-color: $green-color;
            border-radius: 50%;
        
}


.filter__item--type input[type="radio"]:disabled ~ label::before {
    background-image: url('../img/shape.png');
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.5;
    border-color:  #c7c7c7;
}

.filter__item--color input[type="checkbox"] ~ label {
    display:inline-flex;
    align-items:center;
    user-select: none;

        &::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        width: 40px;
        height: 40px;
        border: 2px solid $body-color;       
    }
}

.filter__item--color input[type="checkbox"]:not(:disabled):not(:checked):hover ~ label::before,
.filter__item--color input[type="checkbox"]:not(:disabled):not(:checked):focus ~ label::before {
     border-color: $green-color;
}


.filter__item--color input[type="checkbox"]:checked ~ label::before {
    background-image: url('../img/icon-tick.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    border-color:  #c7c7c7;
    box-shadow:0 0 5px 0px rgba(199, 199, 199, 0.5);
}

.filter__item--color input[type="checkbox"]:disabled ~ label::before {
    opacity: 0.5; 
    border-color:  #c7c7c7;
    box-shadow:0 0 5px 0px rgba(199, 199, 199, 0.5); 
}

.filter__option {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
        width: 500px;   
    }

    @media (min-width: $desktop-width) {
        width: 700px;
    }
}

.filter__option--surname {

    @media (min-width: $tablet-width) {
        display: flex;
        align-items: center;
    }     

        &:last-child {
            margin-bottom: 0;
        }
}

.filter__option--contact  {

        &:hover::before {
            opacity: 0.8;
        }

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            width: 40px;
            height: 30px;
            transition: all 0.5s;
        }
}

.filter__option--phone {
    
    &::before {
        right: -10px;
        background-image: url('../img/phone.png');
        background-repeat: no-repeat;
    }
}

.filter__option--email {
    margin-bottom: 0;

        &::before {
            right: -5px;
            background-image: url('../img/mail.png');
            background-repeat: no-repeat;
        }
}

.filter__option--textarea {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
        
    }
}

.filter__option input {
    box-sizing: border-box;

    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;    
    border: none;
    border-bottom: 2px solid $body-color;

    font: inherit;
    font-size: 17px;
    outline: none;
    transition: all 0.5s;
     
    @media (min-width: $tablet-width) {
        padding-left: 20px;
    } 

        &:hover {
            border-bottom-color: $green-color;
        }

        &:focus {
            border-bottom-color: $dark-green-color;
        }
}

.filter__option--surname  input {
    @media (min-width: $tablet-width) {
        margin-left: 25px;   
    }
}

.filter__option--contact input{

    @media (min-width: $tablet-width) {
        background-color: $form-color;
    }
}

.filter__option textarea {
    box-sizing: border-box;
    width: 260px;
    min-height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;      
    border: 2px solid $body-color;

    font: inherit;
    font-size: 17px;
    outline: none;
    transition: all 0.5s;

    @media (min-width: $tablet-width) {
        width: 500px;
    }

    @media (min-width: $desktop-width) {
        width: 700px;
    }

        &:hover {
            border-color: $green-color;
        }

        &:focus {
            border-color: $dark-green-color;
        }
}

.filter__sub {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
    
    @media (min-width: $tablet-width) {
        order: 2;
        margin-bottom: 0;
    }
}

.filter__btn {
    width: 260px;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: $tablet-width) {
        order: 1;
        width: 230px;
        padding-left: 20px;
        padding-right: 20px;
    }  
}




