@import '../variables';

.promo-form {
    background-color: #f1f1f1;
}

.promo-form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    
    @media (min-width: $tablet-width) {
        padding-right: 50px;
        padding-left: 50px;      
    }

    @media (min-width: $desktop-width) {
        padding-right: 100px;
        padding-left: 100px;
    }

    &::before {

        @media (min-width:$tablet-width) {
            content: "";
            z-index: 2;
            position: absolute;
            top: 322px;
            left: 0;

            width: 100%;
            height: 20px;
            background-image:  url('../img/zigzag.svg');  
        }

        @media (min-width: $desktop-width) {
            top: 370px;
        }
    }
}

.promo-form__title {
    align-self: center;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 75px;

    font-size: 27px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
        order: 2;
        padding-top: 55px;
        padding-bottom: 85px;
        font-size: 43px;
        line-height: 50px;   
    }

    @media (min-width: $desktop-width) {
        font-size: 53px;
        line-height: 57px;  
        padding-top: 60px;
        padding-bottom: 120px;     
    }
}