@import '../variables';

.feature__title {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    padding-bottom: 30px;
    font-size: $title-font-size;
    line-height: $title-line-height;
    font-weight: 700;
}

.feature__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature__item {
    padding-top: 55px;
    padding-bottom: 30px;
    font-size: $body-font-size + 2px;
    font-weight: 700;
}
