@import '../variables';

.promo {
    background-color: #f9f9f9;

    @media (min-width:$tablet-width) {
                position: relative;
    }   

    &::before {

        @media (min-width:$tablet-width) {
            content: "";
            z-index: 2;
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 10px;
            background-image:  url('../img/zigzag.svg');  
        }

        @media (min-width: $desktop-width) {
           bottom: 0;
        }
    }
}

.promo__wrapper  {
    
    @media (min-width:$tablet-width) { 
        padding-right: 50px;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
    }

     @media (min-width: $desktop-width) {
        padding-right: 100px;
        padding-left: 100px;
    }
}

.promo__wrapper-top {
    min-height: 230px;
    padding-top: 75px;
    background-image: url('../img/hero-mobile.jpg');
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-size: 373px 370px;
    background-position: 50% 18%;

    @media (min-width:$tablet-width) { 
        min-height: 555px;
        padding-top: 0px;
        background-image: url('../img/hero-tablet.jpeg');
        background-repeat: no-repeat;  
        background-size: cover;
        background-position: -94px 10px;
    }

    @media (min-width: $desktop-width) {
        background-size: 100%;
        background-image: url('../img/hero-desktop.jpg');
        background-position: 0 0;
       
    }

    @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background-image: url('../img/hero-mobile@2x.jpg');
        background-repeat: no-repeat;
        background-size: 373px 370px;
        background-position: 50% 18%;
    }

     @media (min-width:$tablet-width) and (min-resolution: 144dpi),
            (min-width:$tablet-width) and (min-resolution: 1.5dppx){ 
                background-image: url('../img/hero-tablet@2x.jpeg');
                background-size: cover;
                background-position: -94px 10px;
    }

     @media (min-width:$desktop-width) and (min-resolution: 144dpi),
            (min-width:$desktop-width) and (min-resolution: 1.5dppx){ 
    background-image: url('../img/hero-desktop@2x.jpeg');
    background-size: cover;
    background-position: 0 0;

    }
}

.promo__title {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 27px;
    line-height: $body-line-height + 10px;
    font-weight: 700;
    text-align: center;

    @media (min-width:$tablet-width) {
        padding-top: 120px;
        padding-bottom: 150px;
        padding-left: 80px;
        padding-right: 80px;

        font-size: $title-tab-font-size;
        line-height: $title-tab-line-height;
    }

    @media (min-width:$desktop-width) {
        padding-top: 120px;
        
        padding-left: 215px;
        padding-right: 215px;

        font-size: $title-desk-font-size;
        line-height: $title-desk-line-height;
    }
}

.promo__list {
    margin: 0;
    padding: 0;
    list-style: none; 
    position: relative;

    @media (min-width: $tablet-width) {
        display: flex;
        width: 668px;
    }

    @media (min-width: $desktop-width) {
        width: 1050px;    
    }
}

.promo__link {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 160px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

        &:active {
            color: rgba(255, 255, 255, 0.3 );
        }

    @media (min-width: $tablet-width) {
        
        height: 120px;
        width: 334px;
        padding-left: 35px;
        padding-right: 180px;

        font-size: 20px;
        line-height: 30px;
    }

    @media (min-width: $desktop-width) {
        width: 525px;
        padding-right: 368px;      
    }
}

.promo__link--subject {
   
    &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 35px;
        width: 70px;
        height: 80px;
        
        background-image: url('../img/interior.svg');
        background-position: 50%;
        background-repeat: no-repeat;

        @media (min-width: $tablet-width) {
            top: 20px;
        }
    }

        &:hover::before {
            opacity: 0.6;
        }


}

.promo__link--toys {

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 30px;
        width: 80px;
        height: 80px;
        
        background-image: url('../img/toy.svg');
        background-position: 50%;
        background-repeat: no-repeat;

        @media (min-width: $tablet-width) {
            top: 20px;
        }
    }
        &:hover::before {
            opacity: 0.6;
        }

}

.promo__link--subject {
    background-color: #63d1bb; 
}

.promo__link--toys {
    background-color: #56c3b2;
}