@import '../variables';

.promo {

    @media (min-width:$tablet-width) {
        box-sizing: border-box;
        padding: 0 50px;
        background-color: #f9f9f9;
        position: relative;

    }   

    @media (min-width: $desktop-width) {
        padding: 0 100px;
    }

    &::before {
        

        @media (min-width:$tablet-width) {
            content: "";
            z-index: 2;
            position: absolute;
            top: 669px;
            left: 0;

            width: 100%;
            height: 10px;
            background-image:   url('../img/zigzag.png');
           
        }

        @media (min-width: $desktop-width) {
            top: 690px;
        }
    }
}

.promo__wrapper  {
    padding-top: 75px;
    min-height: 230px;

    background-image: url('../img/hero-mobile.jpg');
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -25px;
    
    @media (min-width:$tablet-width) { 
        display: flex;
        flex-direction: column;
        padding-top: 0px;

        background-image: url('../img/hero.jpg');
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: -168px 10px;
    }

     @media (min-width: $desktop-width) {
        background-size: 100%;
        background-position: 0 0;
       
    }
}

.promo__title {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 27px;
    line-height: $body-line-height + 10px;
    font-weight: 700;
    text-align: center;

    @media (min-width:$tablet-width) {
        padding-top: 120px;
        padding-bottom: 240px;
        padding-left: 80px;
        padding-right: 80px;

        font-size: $title-tab-font-size;
        line-height: $title-tab-line-height;
    }

    @media (min-width:$desktop-width) {
        padding-top: 120px;
        
        padding-left: 215px;
        padding-right: 215px;

        font-size: $title-desk-font-size;
        line-height: $title-desk-line-height;
    }
}

.promo-nav__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    
    @media (min-width: $tablet-width) {
        display: flex;
        width: 668px;
    }

     @media (min-width: $desktop-width) {
        width: 1050px;
       
    }
}

.promo-nav__item--tab-hidden {
     @media (min-width: $desktop-width) {
        display: none;
       
    }
}

.promo-nav__item--hidden {
     @media (min-width: $tablet-width) {
        display: none;
       
    }

    @media (min-width: $desktop-width) {
        display: flex;
       
    }
}

.promo-nav__item--delivery {

    @media (min-width: $tablet-width) {
        margin-left: auto;
        padding-top: 25px;
        line-height: 24px;
    }
}

.promo-nav__link {

    @media (min-width: $tablet-width) {
    display: block;
    width: 167px;
    padding-top: 25px;
    line-height: 24px;
    color: $body-color;
    font-weight: 700;

        &:hover,
        &:focus {
            color: rgba(0, 0, 0, 0.6);
        }

        &:active {
            color: rgba(0, 0, 0, 0.3);
        }
    }

     @media (min-width: $desktop-width) {
        width: 183px;
       
    }
}

.promo__list {
    margin: 0;
    padding: 0;
    list-style: none; 
    position: relative;

    @media (min-width: $tablet-width) {
        display: flex;
        width: 668px;
    }

    @media (min-width: $desktop-width) {
        width: 1050px;
       
    }

}

.promo__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    &:active {
        color: rgba(255, 255, 255, 0.3 );
    }

    @media (min-width: $tablet-width) {
        box-sizing: border-box;
        height: 120px;
        width: 334px;
        padding-left: 35px;
        padding-right: 180px;

        font-size: 20px;
        line-height: 30px;
    }

    @media (min-width: $desktop-width) {
        width: 525px;
        padding-right: 368px;
       
    }
}

.promo__link--subject {
    background-color: #63d1bb; 
}

.promo__link--toys {
    background-color: #56c3b2;
}